name: Update LeetCode Stats
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: ["main", "master"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate LeetCode Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filename: leetcode-stats.svg
          base: ""
          plugin_leetcode: yes
          plugin_leetcode_user: nikolajdev  # <--- TU DAJ SVOJE MENO
          plugin_leetcode_sections: solved, skills
